<nav class="navbar  navbar-inverse" role="navigation"> 

      <div class="navbar-header navbar-left">
      	<p class="navbar-brand" >Welcome</p>
   	 </div>

	<ul class="nav navbar-nav navbar-right">
         <li ng-show="loggedIn"><a data-ui-sref="guest">Go to home page </a></li>
         <li ng-show="loggedOut"><a data-ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Log in </a></li>
         
    </ul>

 </nav>

<h2 align="center">Invitation details</h2>
 <hr/>
<div align="center">
<label>Restaurant: {{invitationRes.resName}}</label><br>
<label>Date: {{invitationRes.date}}</label><br>
<label>Start time: {{invitationRes.startTime}}</label><br>
<label>End time: {{invitationRes.endTime}}</label><br>

<br><br>
<label class="pull-center"><button ng-show="showConfirmButtons" class="btn btn-default navbar-btn"  data-ui-sref="." ng-click="acceptInvitation()"><span class = "glyphicon glyphicon-ok"></span> Accept</button></label>
<label class="pull-center"><button ng-show="showConfirmButtons" class="btn btn-default navbar-btn" ng-click="rejectInvitation()" data-ui-sref=".">Reject <span class = "glyphicon glyphicon-remove"></span></button></label>
<label class="pull-center"><button ng-show="showOrderButton" class="btn btn-default navbar-btn" ng-click="order()" data-ui-sref="."><span class="glyphicon glyphicon-cutlery"></span><span class="glyphicon glyphicon-glass"></span> Order </button></label>
</div>