<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<style type="text/css">
.list-content{
 min-height:300px;
 max-width: 400px;
}
.list-content .list-group .title{
  background:#5bc0de;
  border:2px solid #DDDDDD;
  font-weight:bold;
  color:#FFFFFF;

}
.list-group-item img {
    height:60px; 
    width:60px;
}

.jumbotron .btn {
    padding: 5px 5px !important;
    font-size: 12px !important;
}
.prj-name {
    color:#5bc0de;    
}
.break{
    /*width:100%;*/
    margin:20px;
}
.name {
    color:#5bc0de;    
}

#search {
    background-image: url('/css/searchIcon.png'); /* Add a search icon to input */
    background-position: 0px 5px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    width: 100%;
    
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
</style>



<div align="center">
<h4>Restaurant: {{$parent.createdReservation.resName}}</h4>
<h4>Date: {{$parent.createdReservation.date}}</h4>
<h4>Start time: {{$parent.createdReservation.startTime}}</h4>
<h4>End time: {{$parent.createdReservation.endTime}}</h4>

</div>

<div class="container bootstrap snippet" align="center">

  <div class="header">
    <h3 class="text-muted prj-name">
        <span class="fa fa-users fa-2x principal-title"></span>
        Find friends and sent invitation
    </h3>
  </div>


  <div class="jumbotron list-content" >
    <ul class="list-group">
    <li> 
      <input type="text" ng-change="myFilter(myFriends)"  ng-model="search.searchText"  id="search" placeholder="Search friends...">
    </li>
      <li class="list-group-item title">
        My friends
      </li>
      <li>
      	
      	<a class="btn btn-xs" ng-click="sortBy('firstName')" data-ui-sref="."><label> First name </label></a>  
      	<span class="sortorder" ng-show="propertyName === 'firstName'" ng-class="{reverse: reverse}"></span>    	
      	&nbsp; &nbsp;&nbsp;
      	<a class="btn btn-xs" ng-click="sortBy('lastName')" data-ui-sref="." ><label> Last name </label></a> 
      	<span class="sortorder" ng-show="propertyName === 'lastName'" ng-class="{reverse: reverse}"></span>     	      	
      </li>
      <li ng-repeat="friend in filtered" class="list-group-item text-left">
        <img class="img-thumbnail" src="html/guest/userProfile.png">
        <label class="name">
            {{ friend.firstName + " " + friend.lastName }}<br>
        </label>
        <label class="pull-right">
           <a  class="btn btn-success  btn-xs glyphicon glyphicon-plus" ng-hide="hideInvitationButton(friend.id)" ng-click="inviteFriend(friend.id)" data-ui-sref="." title="Invite friend"></a>
        </label>
        <div class="break"></div>
      </li>
    </ul>
  </div>
  </div>
