<div>
<div class = "col-sm-4">
</div>
<div class = "col-sm-4"  class="input-group">
<form action="" method="post">
    <label>Firstname</label>
    <input type="text" ng-model="$parent.user.firstName" class="form-control" name="firstName" >  

    <label>Lastname</label>
    <input type="text" ng-model="$parent.employed.lastName" class="form-control" name="lastName" >  

    <label>Email</label>
    <input type="text" ng-model="$parent.employed.email" class="form-control" name="email" >  

    <label>Password</label>
    <input type="password" ng-model="$parent.employed.password" class="form-control" name="password" >  
    
     <label>Birthday</label>

 	<input type="text" ng-model="$parent.employed.birthday" class="form-control" name="birthday"placeholder="yyyy-mm-dd" >  


  
	<label>Clothes size</label>
    <input type="text" ng-model="$parent.employed.shoesSize" class="form-control" name="shoesSize" >  
    
    <label>Shoes size</label>
    <input type="text" ng-model="$parent.employed.clothesSize" class="form-control" name="clothesSize" >
    
 
    <label>Role</label>
   <select class="form-control"  ng-model="$parent.employed.userRole">
   		<option value="" disabled="" selected="">Select role</option>
     	<option value="waiter">waiter</option>
		<option value="cook">cook</option>
		<option value="bartender">bartender</option>
	</select>
<br>
<button class="btn btn-default" ng-click="saveEmloyed()"><span class="glyphicon glyphicon-ok" ></span> Create</button>
<button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove" ></span> Cancel</button>
</form>

</div>
</div>