<div>
<div class = "col-sm-2">
</div>
<div class = "col-sm-8">
	<h4>Orders:</h4>
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>End date</th>
                <th>Details</th>
                <th>Offers</th>
            </tr>
			<tr ng-repeat="resOrder in resOrders">
				<td> 
					{{resOrder.id}}
				</td>
				<td>
		    		{{resOrder.endDate }}
				</td>
				<td>
		    		<button class = "btn btn-link" id={{resOrder.id}} ng-click="buttonShowResOrderUnit($event)"><span class = "glyphicon glyphicon-search" style="color:yellow;"></span></button>
					
				</td>
				<td>
		    		<button class = "btn btn-link" id={{resOrder.id}} ng-click="buttonShowOffers($event)"><span class = "glyphicon glyphicon-list-alt" style="color:green;"></span></button>
					
				</td>
				
			</tr>
        </tbody>
    </table>
      <div class="modal-footer">
     <button class = "btn btn-primary" style="background:black" ng-click="buttonNewResOrder()"><span class = "glyphicon glyphicon-plus" style="color:white"></span> Add Order</button>	   
    </div>    
 </div>
</div>
<!-- ---------------------------------------------------ORDERS------------------------------------------------------------------- -->    
  <!-- Trigger the modal with a button -->
<button type="button" id="modalBtnShowResOrderUnit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalShowResOrderUnit" style="display:none"></button>

<!-- Modal -->
<div id="myModalShowResOrderUnit" class="modal fade"  >
  <div class="modal-dialog  modal-table modal-showOrderUnit">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalTitle">Restaurant order units</h4>
      </div>
      <div class="modal-body">
      	<form action="" >
      		<div "col-sm-2">
			<table  class="table table-bordered tableBG" border="1">
				<tbody>
			        <tr>				
						<th>Foodstuff</th>
		                <th>Quantity</th>
		            </tr>
					<tr ng-repeat="unit in resOrderResOrderUnits">
						<td>
				    		{{unit.orderFoodstuff}}	
						</td>
						<td>
				    		{{unit.orderQuantity}}	
						</td>
					</tr>
					
		        </tbody>
		    </table>
		    </div>
	
		    
		    
		    
      </div>
      <div class="modal-footer">
      	 <button  type="button" id ="cancelMakeSegment"class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
  <!-- ---------------------------------------------------------------------------------------------------------------- --> 
  
    <!-- Trigger the modal with a button -->
<button type="button" id="modalBtnAddResOrder" class="btn btn-info btn-lg" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModalAddResOrder" style="display:none"></button>

<!-- Modal -->
<div id="myModalAddResOrder" class="modal fade"  >
  <div class="modal-dialog  modal-table ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalTitle">New Order</h4>
      </div>
      <div class="modal-body">
        <form name="formD">
			<table  class="table table-bordered tableBG" border="1">
				<tbody>
			        <tr>
					
						<th>Foodstuff</th>
		                <th>Quantity</th>
		            </tr>
					<tr ng-repeat="unit in newResOrderUnits">
						<td>
				    		{{unit.orderFoodstuff}}	
						</td>
						<td>
				    		{{unit.orderQuantity}}	
						</td>
					</tr>
					
		        </tbody>
		    </table>
		    		<button class="btn btn-link pull-right" ng-click="addResOrderUnit()"><span class="glyphicon glyphicon-plus" style="color:green;"></span> </button>		
      <br><br>
     
		 
			<label> End date </label>
		    <div  ng-class="{ 'has-error': formD.endDate.$dirty && formD.endDate.$error.required }">
		    <input type="date" ng-model="$parent.resOrder.endDate" class="form-control"name="endDate"ng-readonly="$parent.infoMode" required >
		   </div>
		    <span class="help-block" ng-show = "formD.endDate.$dirty && formD.endDate.$invalid">
			<span ng-show = "formD.endDate.$error.required">End date is required.</span>
			</span>  
		 </form>       
		
	
	<input  type="text"  ng-model="$parent.resOrder.id" value ={{ID}} style="display:none"> 
	   
      </div>
      <div class="modal-footer">
       <button  class="btn btn-default" ng-disabled="formD.$invalid" ng-click="endMakeResOrder()"><span class="glyphicon glyphicon-ok"  ></span> Finish</button>
      	 <button  type="button" ng-click="cancelMakeResOrder()"class="btn btn-default" data-dismiss="modal">Cancel</button>
      	  <button style="display:none"  type="button" id ="cancelResOrder"class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
  
    <!-- Trigger the modal with a button -->
<button type="button" id="modalBtnOrderUnit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalAddResOrderUnit" style="display:none"></button>

<!-- Modal -->
<div id="myModalAddResOrderUnit" class="modal fade"  >
  <div class="modal-dialog  modal-table modal-showOrderUnit">

    <!-- Modal content-->
    <div class="modal-content">
   
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalTitle">New Order unit</h4>
      </div>
      <div class="modal-body">
      <form name = "form">
      	 <label> Foodstuff </label>
      <div  ng-class="{ 'has-error': form.food.$dirty && form.food.$error.required }">
	 <input type="text" ng-model="$parent.resOrderUnit.orderFoodstuff" value="orderFoodstuff" class="form-control"name="food" ng-readonly="$parent.infoMode" required>   <br> 
	</div>
	<span class="help-block" ng-show = "form.food.$dirty && form.food.$invalid" >
	<span ng-show = "form.food.$error.required">Foodstuff is required.</span>
	</span>   
		   
		    <label> Quantity </label>
		    <div  ng-class="{ 'has-error': form.qua.$dirty && form.qua.$error.required }">
		    <input  type="number" min="1" value="1"ng-model="$parent.resOrderUnit.orderQuantity" value="orderQuantity" class="form-control"name="qua" ng-readonly="$parent.infoMode" required> 
		 
    </div>
     <span class="help-block" ng-show = "form.qua.$dirty && form.qua.$invalid" >
	<span ng-show = "form.qua.$error.required">Quantity is required.</span>
	</span>  
	   <input  type="text"  ng-model="$parent.resOrderUnit.ResOrder"  value ={{ID}}  style="display:none">  
     </form>
      </div>
      <div class="modal-footer">
       <button  class="btn btn-default" ng-disabled="form.$invalid"  ng-click="makeOrderUnit()" data-dismiss="modal"><span class="glyphicon glyphicon-menu-ok"  ></span> Add</button>
      	
      </div>
    </div>

  </div>
</div>
<!-- ------------------------------------------OFFERS-------------------------------------------------------- -->
  <!-- Trigger the modal with a button -->
<button type="button" id="modalBtnShowActuallOffers" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalShowActuallOffers" style="display:none"></button>

<!-- Modal -->
<div id="myModalShowActuallOffers" class="modal fade"  >
  <div class="modal-dialog  modal-table ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalTitle">Offers</h4>
      </div>
      <div class="modal-body">
      
			<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
	       	   <th>Bidder id</th>
				<th>Delivery time</th>
				<th>Garancy</th>
				<th>Total price</th>
				<th>Accepted</th>
				<th></th>
            </tr>
			<tr ng-repeat="offer in actuelOffers">

				<td> 
					{{offer.idBidder}}
				</td>
				
				<td> 
					{{offer.deliveryTime}}
				</td>
				<td>
		    		{{offer.garancy}}
				</td>
				<td> 
					{{offer.totalPrice}}
				</td>
				<td>
		    		{{offer.accepted}}
				</td>
				<td>
		    	<button ng-if="offer.accepted == 'waiting'" type = "button"class="btn btn-link " id="{{offer.id}}" ng-click="acceptOffer($event)"><span class="glyphicon glyphicon-ok" style="color:green;"></span> </button>	
				<button ng-if="offer.accepted != 'waiting'" type = "button" class="btn btn-link " ><span class="glyphicon glyphicon-minus" style="color:red;"></span> </button>	
				
				</td>
			</tr>
        </tbody>
    </table>
		    </div>

      
      <div class="modal-footer">
      	 <button  type="button" id ="cancelMakeSegment"class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>