<div>
<div class = "col-sm-2">
</div>
<div class = "col-sm-8">
	<h4>Waiters:</h4>
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Clothes size</th>
                <th>Shoes size</th>
                <th></th>
            </tr>
			<tr ng-repeat="waiter in waiters">
				<td> 
					{{waiter.id}}
				</td>
				<td>
		    		{{waiter.firstName}}	
				</td>
            	<td>
		    		{{waiter.lastName}}	
				</td>
            	<td>
		    		{{waiter.email}}	
				</td>
				<td>
		    		{{waiter.birthday}}	
				</td>
				<td>
		    		{{waiter.clothesSize}}	
				</td>
				<td>
		    		{{waiter.shoesSize}}	
				</td>
				<td>
		    		<button class = "btn btn-link" id={{waiter.id}} ng-click="buttonDeleteWaiter($event)"><span class = "glyphicon glyphicon-remove" style="color:#e60000;"></span></button>
					
				</td>
			</tr>
        </tbody>
    </table> 
  
    <h4>Cooks:</h4>
    <table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Clothes size</th>
                <th>Shoes size</th>
                <th></th>
            </tr>
			<tr ng-repeat="cook in cooks">
				<td> 
					{{cook.id}}
				</td>
				<td>
		    		{{cook.firstName}}	
				</td>
            	<td>
		    		{{cook.lastName}}	
				</td>
            	<td>
		    		{{cook.email}}	
				</td>
				<td>
		    		{{cook.birthday}}	
				</td>
				<td>
		    		{{cook.clothesSize}}	
				</td>
				<td>
		    		{{cook.shoesSize}}	
				</td>
				<td>
		    		<button class = "btn btn-link" id={{cook.id}} ng-click="buttonDeleteCook($event)"><span class = "glyphicon glyphicon-remove" style="color:#e60000;"></span></button>
					
				</td>
			</tr>
		</tbody>
    </table> 
    
     <h4>Bartenders:</h4>
    <table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Clothes size</th>
                <th>Shoes size</th>
                <th></th>
            </tr>
			<tr ng-repeat="bartender in bartenders">
				<td> 
					{{bartender.id}}
				</td>
				<td>
		    		{{bartender.firstName}}	
				</td>
            	<td>
		    		{{bartender.lastName}}	
				</td>
            	<td>
		    		{{bartender.email}}	
				</td>
				<td>
		    		{{bartender.birthday}}	
				</td>
				<td>
		    		{{bartender.clothesSize}}	
				</td>
				<td>
		    		{{bartender.shoesSize}}	
				</td>
				<td>
		    		<button class = "btn btn-link" id={{bartender.id}} ng-click="buttonDeleteBartender($event)"><span class = "glyphicon glyphicon-remove" style="color:#e60000;"></span></button>
					
				</td>
			</tr>
		</tbody>
    </table> 
    
    <h4>Bidders:</h4>
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>First name</th>
                <th>Last name</th>
                <th>Mail</th>
                <th></th>
            </tr>
			<tr ng-repeat="bidder in bidders">
				<td> 
					{{bidder.id}}
				</td>
				<td>
		    		{{bidder.firstName}}	
				</td>
            	<td>
		    		{{bidder.lastName}}	
				</td>
            	<td>
		    		{{bidder.email}}	
				</td>
				<td>
		    		<button class = "btn btn-link" id={{bidder.id}} ng-click="buttonDeleteBidder($event)"><span class = "glyphicon glyphicon-remove" style="color:#e60000;"></span></button>
					
				</td>
			</tr>
        </tbody>
    </table> 
    
    <div>
	<h4>Foodstuffs:</h4>
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
			<tr ng-repeat="foodstuff in foodstuffs">
				<td> 
					{{foodstuff.id}}
				</td>
				<td>
		    		{{foodstuff.name}}	
				</td>
            	<td>
		    		{{foodstuff.quantity}}	
				</td>
				<td>
				<button class = "btn btn-link" id={{foodstuff.id}} ng-click="buttonShowFoodstuff($event)"><span class = "glyphicon glyphicon-pencil" style="color:yellow;"></span></button>
		    		<button class = "btn btn-link" id={{foodstuff.id}} ng-click="buttonDeleteFoodstuff($event)"><span class = "glyphicon glyphicon-remove" style="color:#e60000;"></span></button>
					
				</td>
			</tr>
        </tbody>
    </table> 
     <div class="modal-footer">
   <button class = "btn btn-primary" style="background:black"  ng-click="buttonAddFoodstuff()"><span class = "glyphicon glyphicon-plus" style="color:white"></span>Add foodstuff</button>	 
 </div>
 
  <!-- ------------------------------------------------------------------------------------------- -->
  <!-- Trigger the modal with a button -->
<button type="button" id="modalBtnAddFoodstuff" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalAddFoodstuff" style="display:none"></button>

<!-- Modal -->
<div id="myModalAddFoodstuff" class="modal fade"  >
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalTitle">Add new foodstuff</h4>
      </div>
      <div class="modal-body">
     	<form action="" name= "form" method="post">
    <label>Name</label>
    <div  ng-class="{ 'has-error': form.fname.$dirty && form.fname.$error.required }">
    <input type="text" ng-model="$parent.food.name" class="form-control"  name ="fname" ng-readonly="$parent.infoMode" required>  
	</div>
	<span class="help-block" ng-show = "form.fname.$dirty && form.fname.$invalid">
	<span ng-show = "form.fname.$error.required">Name is required.</span>
	</span>

    <label>Quantity</label>
    <div  ng-class="{ 'has-error': form.quantity.$dirty && form.quantity.$error.required }">
    <input type = "number" min="0" ng-model="$parent.food.quantity" class="form-control" name ="quantity" ng-readonly="$parent.infoMode" required>  
	</div>
	<span class="help-block" ng-show = "form.quantity.$dirty && form.quantity.$invalid">
	<span ng-show = "form.quantity.$error.required">Quantity is required.</span>
	</span>


</form> 
	    <br>     			
      </div>
      <div class="modal-footer">
      <button class="btn btn-default"  ng-disabled="form.$invalid"  ng-click="saveFoodstuff()"><span class="glyphicon glyphicon-ok" ></span> Create</button>
		 <button type="button" id ="cancelFoodstuff"class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>	
  
  
  
  
  
  <!-- ---------------------------------------------------------------------------------------------------------------- -->
<!-- Trigger the modal with a button -->
<button type="button" id="modalBtnShowFoodstuff" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalShowFoodstuff" style="display:none"></button>

<!-- Modal -->
<div id="myModalShowFoodstuff" class="modal fade"  >
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalTitle">{{foodstuff.name}}</h4>
      </div>
      <div class="modal-body">
      <form name="formm">
     	<label>Quantity</label>
     	 <div  ng-class="{ 'has-error': formm.quantity.$dirty && formm.quantity.$error.required }">
		<input type = "number" min="0" class = "form-control" ng-model = "$parent.foodstuff.quantity"  name = "quantity" ng-readonly="$parent.infoMode" required>   
		</div>
	<span class="help-block" ng-show = "formm.quantity.$dirty && formm.quantity.$invalid">
	<span ng-show = "formm.quantity.$error.required">Quantity is required.</span>
	</span> 
	       </form>  			
      </div>
      <div class="modal-footer">
      <button class = "btn btn-default"   ng-disabled="formm.$invalid" ng-click="buttonUpdateFoodstuff()"><span class = "glyphicon glyphicon-ok" style="color:black"></span>Update</button>	
        <button type="button" id ="closeFoodstuff"class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>	  
    
  
  
  
  
  
  
  
  
  
</div>
</div>