
  <h2 align="center">Tables configuration</h2>
  <hr/>
<div align="center" >
<br><br><br>
<table  ng-init ="showTables()"class = "tablesTable">
	<tr ng-repeat="row in tables">
		<td ng-repeat="table in row">                        
			<button id={{table.id}}  ng-click="buttonShowTable($event)"  class = "tableBtns" style="background:{{table.segColor}}"> </button>
		</td>				
	</tr>
</table>
<br><br><br>
</div>

  <!-- Trigger the modal with a button -->
<button type="button" id="modalBtnShowTable" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalShowTable" style="display:none"></button>

<!-- Modal -->
<div id="myModalShowTable" class="modal fade "  >
  <div class="modal-dialog modal-admin ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalTitle">Table</h4>
      </div>
      <div class="modal-body">
      	<form action="">
      <label>Segment</label>
      <select class="form-control"  ng-model="$parent.table.segment">
   		<option value="" disabled="" selected="">Select segment</option>
      	<option ng-repeat="s in segments" >{{s.segType}}</option> 
     	  <!-- <option value="inside">inside</option>
		<option value="outsideee">outside</option> -->	
	</select>	
      <label>State</label>	
	<select class="form-control"  ng-model="$parent.table.state">
   		<option value="" disabled="" selected="">Select state</option>
     	<option value="exists">exists</option>
		<option value="not_exists">not exists</option>
		<option value="reserved">reserved</option>
	</select>
	<label>Size</label>
	<select class="form-control"  ng-model="$parent.table.size">
   		<option value="" disabled="" selected="">Select size</option>
     	<option value="two">two</option>
		<option value="four">four</option>
		<option value="six">six</option>
		<option value="eight">eight</option>
	</select>
	
	
   </form>
      </div>
      <div class="modal-footer">
      <button type="button"  class="btn btn-default"  ng-click="updateTable()" ><span class="glyphicon glyphicon-ok" ></span> Update</button>
      	 <button style="display:none" type="button" id ="cancelUpdateTable"class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
