<div>
<div class = "col-sm-2">
</div>
<div class = "col-sm-8">
	<h4>Drink card:</h4>
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Text</th>
                <th>Price</th>
                <th>Type</th>
                <th></th>
            </tr>
			<tr ng-repeat="drink in drinks">
				<td> 
					{{drink.id}}
				</td>
				<td>
		    		{{drink.name}}	
				</td>
            	<td>
		    		{{drink.text}}	
				</td>
				<td>
		    		{{drink.price}}	
				</td>
            	<td>
		    		{{drink.drinkType}}	
				</td>
				<td>
				<button class = "btn btn-link" id={{drink.id}} ng-click="buttonShowDrink($event)"><span class = "glyphicon glyphicon-pencil" style="color:yellow;"></span></button>
		    		<button class = "btn btn-link" id={{drink.id}} ng-click="buttonDeleteDrink($event)"><span class = "glyphicon glyphicon-remove" style="color:#e60000;"></span></button>
					
				</td>
			</tr>
        </tbody>
    </table> 
    
        </div>
    </div>
  <button class = "btn btn-default"  ng-click="buttonAddDrink()"><span class = "glyphicon glyphicon-plus" style="color:black"></span>Add drink</button>	      
    <!-- Trigger the modal with a button -->
<button type="button" id="modalBtnShowDrink" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalShowDrink" style="display:none"></button>

<!-- Modal -->
<div id="myModalShowDrink" class="modal fade"  >
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalTitle">{{drink.name}}</h4>
      </div>
      <div class="modal-body">
     	<label>Price</label>
		<input type = "text" class = "form-control" ng-model = "$parent.drink.price" >  
	         			
      </div>
      <div class="modal-footer">
      <button class = "btn btn-default"  ng-click="buttonUpdateDrink()"><span class = "glyphicon glyphicon-ok" style="color:black"></span>Update</button>	
        <button type="button" id ="closeDrink"class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>	
<!-- ---------------------------------------------------------------------------- -->
  <!-- Trigger the modal with a button -->
<button type="button" id="modalBtnAddDrink" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalAddDrink" style="display:none"></button>

<!-- Modal -->
<div id="myModalAddDrink" class="modal fade"  >
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalTitle">Add new drink</h4>
      </div>
      <div class="modal-body">
     	<form action="" method="post">
    <label>Name</label>
    <input type="text" ng-model="$parent.newdrink.name" class="form-control"  >  

    <label>Text</label>
    <input type="text" ng-model="$parent.newdrink.text" class="form-control" > 
    
     <label>Price</label>
    <input type="text" ng-model="$parent.newdrink.price" class="form-control" > 
    
    <label>Type</label>
     <select class="form-control" name='res' ng-model="$parent.newdrink.drinkType" required >
   		<option value="" disabled="" selected="">Select type</option>
     	<option  value="beer">beer</option>
     	<option  value="brandy">brandy</option>
     	<option  value="coctail">coctail</option>
     	<option  value="coffee">coffee</option>
     	<option  value="soda">soda</option>
     	<option  value="wine">wine</option>
  
	</select> 
<br>

</form> 
	         			
      </div>
      <div class="modal-footer">
      <button class="btn btn-default" ng-click="buttonsaveDrink()"><span class="glyphicon glyphicon-ok" ></span> Create</button>
		 <button type="button" id ="cancelDrink"class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>	