<div>
<div class = "col-sm-4">
</div>
<div class = "col-sm-4"  class="input-group">
<form action="" method="post">
    <label>Current password</label>
    <input type="password" class="form-control" name="currentPass" >  

    <label>New password</label>
    <input type="password" class="form-control" name="newPass" >  

    <label>Re-type new</label>
    <input type="password" class="form-control" name="retypeNewPass" >  


<button class="btn btn-default" ng-click="changePassword()"><span class="glyphicon glyphicon-ok" ></span> Save changes</button>
<button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove" ></span> Cancel</button>
</form>

</div>
</div>