<div>
<div class = "col-sm-2">
</div>
<div class = "col-sm-8">
	<h4>Restaurant managers:</h4>
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Firstame</th>
                <th>Lastname</th>
                <th>Mail</th>
                <th></th>
            </tr>
			<tr ng-repeat="restaurantManager in restaurantManagers">
				<td> 
					{{restaurantManager.id}}
				</td>
				<td>
		    		{{restaurantManager.firstName}}	
				</td>
            	<td>
		    		{{restaurantManager.lastName}}	
				</td>
            	<td>
		    		{{restaurantManager.email}}	
				</td>
				<td>
		    		<button class = "btn btn-link" id={{restaurantManager.id}} ng-click="buttonDeleteResManager($event)"><span class = "glyphicon glyphicon-remove" style="color:#e60000;"></span></button>
					
				</td>
			</tr>
        </tbody>
    </table> 
  
    <h4>Restaurants:</h4>
    <table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Manager</th>
                <th></th>
            </tr>
			<tr ng-repeat="restaurantt in restaurantss">
				<td> 
					{{restaurantt.id}}
				</td>
				<td>
		    		{{restaurantt.name}}	
				</td>
            	<td >
            	
		    		 {{restaurantt.restaurantManagers[0].firstName + " "+restaurantt.restaurantManagers[0].lastName }} 	
				</td>
				<td>
				<button class = "btn btn-link" id={{restaurantt.id}} ng-click="buttonDeleteRestaurant($event)"><span class = "glyphicon glyphicon-remove" style="color:#e60000;"></span></button>
				</td>
            </tr>
		</tbody>
    </table> 
</div>
</div>