<div>
<div class = "col-sm-4">
</div>

<div class = "col-lg-6"  class="input-group">
<form action="">
    
   <div>
   <div class="col-lg-6">
   <label>Current password</label>
    <div class="input-group">
      <input type = "{{ currentVisible ? 'text' : 'password' }}" class="form-control" ng-model="current">          
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click = "toggleCurrentVisible()"><span class = "{{ currentVisible ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open' }}"></span></button>
      </span>
    </div>
  
  <label>New password</label>
    <div class="input-group">
      <input type="{{ newVisible ? 'text' : 'password' }}" class="form-control" ng-model="newPassword">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click = "toggleNewVisible()"><span class = "{{ newVisible ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open' }}"></span></button>
      </span>
    </div>
    
    <label>Re-type password</label>
    <div class="input-group">
      <input type="{{ retypeVisible ? 'text' : 'password' }}" class="form-control" ng-model="retyped">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click = "toggleRetypeVisible()"><span class = "{{ retypeVisible ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open' }}"></span></button>
      </span>
    </div>
    
     
	<button class="btn btn-default" ng-click="changePassword()"><span class="glyphicon glyphicon-ok" ></span> Save changes</button>
	<button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove" ></span> Cancel</button>
 	</div>
  
    
  </div>



  
</form>
</div>
</div>

