<style type = "text/css">

.help-block {
    color: red;
}

</style>

<nav class="navbar  navbar-inverse"  id = "firstTimeNav"role="navigation"> 
      
     <div class="navbar-header navbar-left">
      	<a class="navbar-brand" data-ui-sref=".">Restaurants</a>
    </div>

	

 </nav>


<div>
<div class = "col-lg-4">
</div>
<div class = "col-lg-6">
<form action="" name = "passForm" novalidate>
       
   <div class="col-lg-6">
   
  	<label ng-show = "!activeUser.firstLogIn">Current password</label>
    <label ng-show = "activeUser.firstLogIn">Received password</label>
    <div class="input-group" ng-class="{ 'has-error': passForm.currentPass.$dirty && passForm.currentPass.$error.required }">
   		<input type = "{{ currentVisible ? 'text' : 'password' }}" class="form-control" name = "currentPass" ng-model="current" required>          
   		<span class="input-group-btn">
   		<button class="btn btn-secondary" type="button" ng-click = "toggleCurrentVisible()"><span class = "{{ currentVisible ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open' }}"></span></button>   		   		
   		</span>
     </div>
     <span class="help-block" ng-show = "passForm.currentPass.$dirty && passForm.currentPass.$invalid">
     <span ng-show = "passForm.currentPass.$error.required">Current password is required.</span>
     </span>   		                           
  
  
    <label>New password</label>
    <div class="input-group" ng-class="{ 'has-error': passForm.newPass.$dirty && passForm.newPass.$error.required }">
    	<input type="{{ newVisible ? 'text' : 'password' }}" ng-change = "clearRetyped()" class="form-control" name = "newPass" ng-model="newPassword" required>
      	<span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click = "toggleNewVisible()"><span class = "{{ newVisible ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open' }}"></span></button>
      	</span>            	   
    </div>
    <span class="help-block" ng-show = "passForm.newPass.$dirty && passForm.newPass.$invalid">
    <span ng-show = "passForm.newPass.$error.required">New password is required.</span>
    </span>   
    
    <label>Re-type password</label>
    <div class="input-group" ng-class="{ 'has-error': passForm.retypedPass.$dirty && passForm.retypedPass.$error.required }">
    	<input type="{{ retypeVisible ? 'text' : 'password' }}" ng-change = "comparePasswords()" class="form-control" name = "retypedPass" ng-disabled = "!newPassFilled" ng-model="retypedPassword" required>
      	<span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click = "toggleRetypeVisible()"><span class = "{{ retypeVisible ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open' }}"></span></button>
      	</span>      	      	  
    </div>    
    <span class="help-block" ng-show = "passwordsMismatch">Passwords do not match.</span>
    <span class="help-block" ng-show = "passForm.retypedPass.$dirty && passForm.retypedPass.$invalid">    
    <span ng-show = "passForm.retypedPass.$error.required">Please, retype your new password.</span>    
    </span>   
         
    <br>
	<button class="btn btn-default" ng-show = "!activeUser.firstLogIn" ng-disabled = "passForm.$invalid || passwordsMismatch" ng-click="changePassword()"><span class="glyphicon glyphicon-ok" ></span>Save changes</button>
	<button class="btn btn-default" ng-show = "activeUser.firstLogIn" ng-disabled = "passForm.$invalid || passwordsMismatch" ng-click="changeFirstPassword()"><span class="glyphicon glyphicon-ok" ></span>Save changes</button>
	<button class="btn btn-default" ng-click= "cancel()"><span class="glyphicon glyphicon-remove" ></span> Cancel</button>  
    </div>
  

  
</form>
</div>
</div>

