<div>
<div class = "col-sm-4">
</div>

<div class = "col-lg-6"  class="input-group">
<form action="" method="post">
    
   <div>
   <div class="col-lg-6">
   <label>Current password</label>
    <div class="input-group">
      <input type="password" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"><span class = "glyphicon glyphicon-eye-open"></span></button>
      </span>
    </div>
  
  <label>New password</label>
    <div class="input-group">
      <input type="password" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"><span class = "glyphicon glyphicon-eye-open"></span></button>
      </span>
    </div>
    
    <label>Re-type password</label>
    <div class="input-group">
      <input type="password" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"><span class = "glyphicon glyphicon-eye-open"></span></button>
      </span>
    </div>
    
     
	<button class="btn btn-default" ng-click="changePassword()"><span class="glyphicon glyphicon-ok" ></span> Save changes</button>
	<button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove" ></span> Cancel</button>
 	</div>
  
    
  </div>



  
</form>
</div>
</div>

