<style type="text/css">

</style>

<nav class="navbar  navbar-inverse" role="navigation" > 

      <div class="navbar-header navbar-left">
      	<p class="navbar-brand" >Welcome, {{bidder.firstName+" "+ bidder.lastName}}</p>
   	 </div>
      <ul class="nav navbar-nav navbar-center">
    
	<button data-ui-sref=".updateBidder"  ng-click = "updateBidder()"class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span> Update profile</button>
	<button data-ui-sref=".changePassword"  ng-click = "changePas()"class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-cog"></span> Change password</button>
	<button data-ui-sref=".showOrders"  ng-click = "listResOrder()"class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-list-alt"></span> Show orders</button>
	</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
         <li><a  data-ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span> Log out </a></li>
    <li><a ></a></li>
    </ul>

 </nav>
 
<div data-ng-repeat="alert in alerts" >
<div  ng-if="alert.accepted == 'yes'"  class="alert alert-success  fade in"  >
    <a href="" class="close" id = {{alert.id}} ng-click = "seen($event)"data-dismiss="alert">&times;</a>
  <strong>Notification!</strong> Offer {{alert.id}} is accepted.
</div>

<div ng-if="alert.accepted == 'no'"class="alert alert-danger  fade in"  >
    <a href="" class="close" id = {{alert.id}} ng-click = "seen($event)" data-dismiss="alert">&times;</a>
  <strong>Notification!</strong> Offer {{alert.id}} is refused.
</div>

</div>


 <div>
 <div data-ui-view></div>

</div>